@page "/fetchdata"

<PageTitle>Example Data</PageTitle>

@inject IExampleService _exampleService;
@inject ISampleService _sampleService;

<h1>Examples</h1>

@if (exampleDbs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exampleDb in exampleDbs)
            {
                <tr>
                    <td><input type="datetime" @onchange="(a) => CreatedDateChange(a, exampleDb)" value="@exampleDb.CreatedDate" /></td>
                    <td><input @onchange="(a) => NameChange(a, exampleDb)" value="@exampleDb.Name" /></td>
                    <td><button @onclick="() => Delete(exampleDb)">Delete</button></td>
                </tr>
                @if (exampleDb.Samples != null)
                {
                    @foreach (var sampleDb in exampleDb.Samples)
                    {
                        <tr>
                            <td>@exampleDb.CreatedDate</td>
                            <td><input @onchange="(a) => NameChange(a, sampleDb)" value="@sampleDb.Name" /></td>
                            <td><button @onclick="() => Delete(sampleDb)">Delete</button></td>
                        </tr>
                    }        
                }
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Example>? exampleDbs;

    protected override void OnInitialized()
    {
        ExampleLookupRequest exampleLookupRequest = new()
            {
                CreatedDate = DateTime.Today
            };

        exampleDbs = _exampleService.Get(exampleLookupRequest);

        if (!exampleDbs.Any())
        {
            Example newExample = new Example() { Name = "Example", Samples = new List<Sample>() };
            newExample.Samples.Add(new() { Name = "Sample 1" });
            newExample.Samples.Add(new() { Name = "Sample 2" });
            _exampleService.Create(newExample);
        }
    }

    void CreatedDateChange(ChangeEventArgs arguments, Example example)
    {
        if(arguments.Value != null
            && DateTime.TryParse((string)arguments.Value, out DateTime newDate)
            && newDate != example.CreatedDate)
        {
            example.CreatedDate = newDate;
            _exampleService.Update(example);
        }
    }

    void NameChange(ChangeEventArgs arguments, Example example)
    {
        if ((string?)arguments.Value != example.Name)
        {
            example.Name = (string?)arguments.Value;
            _exampleService.Update(example);
        }
    }

    void NameChange(ChangeEventArgs arguments, Sample sample)
    {
        if ((string?)arguments.Value != sample.Name)
        {
            sample.Name = (string?)arguments.Value;
            _sampleService.Update(sample);
        }
    }

    void Delete(Example example)
    {
        _exampleService.Delete(example);
    }

    void Delete(Sample sample)
    {
        _sampleService.Delete(sample);
    }
}
