@page "/fetchdata"

<PageTitle>Example Data</PageTitle>

<h1>Examples</h1>

@inject IExamplesService _exampleService;
@inject ISamplesService _sampleService;

@if (exampleDbs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exampleDb in exampleDbs)
            {
                <tr>
                    <td><input type="datetime" @onchange="(a) => CreatedDateChange(a, exampleDb)" value="@exampleDb.CreatedDate" /></td>
                    <td><input @onchange="(a) => NameChange(a, exampleDb)" value="@exampleDb.Name" /></td>
                    <td><button @onclick="() => Delete(exampleDb)">Delete</button></td>
                    <td><button @onclick="() => AddSample(exampleDb)">Add Sample</button></td>
                </tr>
                @if (exampleDb.Samples != null)
                {
                    @foreach (var sampleDb in exampleDb.Samples)
                    {
                        <tr>
                            <td>@exampleDb.CreatedDate</td>
                            <td><input @onchange="(a) => NameChange(a, sampleDb)" value="@sampleDb.Name" /></td>
                            <td colspan="2"><button @onclick="() => Delete(sampleDb)">Delete</button></td>
                        </tr>
                    }        
                }
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Examples>? exampleDbs;

    protected override void OnInitialized()
    {
        ExamplesLookupRequest exampleLookupRequest = new()
            {
                CreatedDate = DateTime.Today,
                FilterType = FilterType.GreaterThan
            };

        exampleDbs = _exampleService.Get(exampleLookupRequest);

        if (!exampleDbs.Any())
        {
            Examples newExample = new Examples() { Name = "Example" };
            _exampleService.Create(newExample);
        }
    }

    void CreatedDateChange(ChangeEventArgs arguments, Examples example)
    {
        if(arguments.Value != null
            && DateTime.TryParse((string)arguments.Value, out DateTime newDate)
            && newDate != example.CreatedDate)
        {
            example.CreatedDate = newDate;
            _exampleService.Update(example);
        }
    }

    void NameChange(ChangeEventArgs arguments, Examples example)
    {
        if ((string?)arguments.Value != example.Name)
        {
            example.Name = (string?)arguments.Value;
            _exampleService.Update(example);
        }
    }

    void NameChange(ChangeEventArgs arguments, Samples sample)
    {
        if ((string?)arguments.Value != sample.Name)
        {
            sample.Name = (string?)arguments.Value;
            _sampleService.Update(sample);
        }
    }

    void Delete(Examples example)
    {
        _exampleService.Delete(example);
    }

    void AddSample(Examples example)
    {
        Samples sample = new()
            {
                ExampleId = example.Id.Value,
                Name = "Sample",
            };
        _sampleService.Create(sample);
    }

    void Delete(Samples sample)
    {
        _sampleService.Delete(sample);
    }
}
